<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- Fontfaces CSS-->
    
    


    <!-- Bootstrap CSS-->

    

</head>

<body>

                    <style type="text/css">
                    ul {
                          list-style-type: none;
                          margin: 0;
                          padding: 5px;
                          overflow: hidden;
                          background: #f4f4f4;
                         
                        }

                        li {
                            padding:5px;
                          float: right;

                        }


                    </style>
            
                    <ul class="list-unstyled navbar__list" >
                        <li>
                            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'fas fa-calendar-alt' %> 
                        </li>

                        <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'fas fa-calendar-alt'  %></li>

                        
                        <li>
                            <a href="purchase.html">
                                <i class="fas fa-calendar-alt"></i>Upload</a>
                        </li>
                        
                    </ul>

                    <div class="main-content" style="padding-top: 0px">

                        


                <style type="text/css">
                    td, tr{
                        margin: 10px 5px;
                        border: 1px dotted black;
                        padding: 10px 5px;
                    }

                    tr:nth-child(even) {background: #fff;}
                    tr:nth-child(odd) {background: #f4f4f4;}
                </style>

                <table style="width: 80%;">
                    <tbody>

                        <tr style="background: #000; color: #fff; border: 2px solid white;">
                            <td><b>API NAME</b></td>
                            <td><b>PLAN PURCHASED </b></td>
                            <td><b>DATE OF PURCHASE </b></td>
                            <td><b>EXPIRY DATE </b></td>
                            <td><b>TOKEN </b></td>
                        </tr>
                        
                        

                        
                        

                        
                        

                        <tr>
                            <td>Birthdays</td>
                            <td>15000 </td>
                            <td>11/2/2019</td>
                            <td>11/2/2021 </td>
                            <td>bfkhjf </td>
                        </tr>

                         <tr>
                            <td>Actors</td>
                            <td>25000 </td>
                            <td>11/4/2019</td>
                            <td>11/2/2021 </td>
                            <td>fgesgh </td>
                        </tr>
                        
                         <tr>
                            <td>Quotes</td>
                            <td>35000 </td>
                            <td>11/6/2019</td>
                            <td>11/2/2021 </td>
                            <td>mneshdb </td>
                        </tr>
                        
                        

                       
                        

                    </tbody>
                </table>
                
            </div>
                
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        

   
    

</body>

</html>
<!-- end document-->
